.menuBar{
    font-weight: bold;
}
.login-form {
    width: 500px;
    margin: 50px auto;
    padding: 50px;
    border: 1px solid #f1f1f1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
.admin-page-sidebar {
    background: #f1f1f1;
    min-height: 100vh;
}
.admin-page-workspace {
    min-height: 100vh;
}